name: Run tests

on:
    push:
         branches: ["main"]

    pull_request:
          branches: ["main"]

jobs: 
    tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: "3.11"
                    
            - name: Install dependencies
              run: pip install -r requirements.txt

            - name: Run tests 
              run: pytest -q
    deploy:
      needs: tests
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Build Docker image
          run: docker build -t bestapp:latest .

        - name: Save Docker image to tar
          run: docker save bestapp:latest -o bestapp.tar

        - name: Fix permissions
          run: sudo chmod 644 bestapp.tar

        - name: copy image to server
          uses: appleboy/scp-action@v0.1.7
          with:
             host: ${{ secrets.HOST }}
             username: ${{ secrets.USERNAME }}
             password: ${{ secrets.PASSWORD }}
             port: ${{ secrets.PORT }}
             source: "bestapp.tar"
             target: "~/KhokhlovEA/deploy"
        - name: Deploy on server via SSH
          uses: appleboy/ssh-action@v1
          with:
             host: ${{ secrets.HOST }}
             username: ${{ secrets.USERNAME }}
             password: ${{ secrets.PASSWORD }}
             port: ${{ secrets.PORT }}
             script: |
              cd KhokhlovEA
              mkdir -p ~/KhokhlovEA/deploy
              cd deploy

              echo "Loading Docker image..."
              docker load -i bestapp.tar

              echo "Stopping ald container..."
              docker rm -f bestapp || true

              echo "Starting new container..."
              docker run -d --name bestapp bestapp:laters

              echo "Deployment finished."